name: Build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    env:
      PROJECT_DIR: ${{ github.workspace }}/wordle_cli

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v7
      with:
        dotnet-version: 7.0.100

    - name: Build project
      run: dotnet build -c Release
      working-directory: ${{ env.PROJECT_DIR }}
